{% extends 'AppBundle::base.html.twig' %}
{% block title %}
    <title>Detail Annonce</title>
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <style>
        .str-shine{
            color: #ffa500;
        }
        .note-star{
            cursor: pointer;
        }

        #imgRdv{
           box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.8), 0 2px 10px 0 rgba(0, 0, 0, 0.8);
          -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.8), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
          -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
           background-image: url("https://i.imgur.com/Z2NEZXp.jpg");
          width: auto;
          height: 250px;
          background-position: center;
         background-repeat: no-repeat;
         background-size: cover;
        }
        span.badge-warning{
          padding: 5px 15px;
        }
    </style>
{% endblock %}
{% block body %}
    <!-- Page Content -->
    <div class="container mt-1">
        <!-- BreadCrumb-->
        <div class="row brdcrumb">
            <ul class="list-inline">
                <li class="list-inline-item"><a class="text-dark" href="{{ path('index') }}">Acceuil</a></li>
                <li class="list-inline-item"><i class="fas fa-angle-right"></i></li>
                <li class="list-inline-item"><a class="text-dark" href="">{{ rdv.category }}</a></li>
                <li class="list-inline-item"><i class="fas fa-angle-right"></i></li>
                <li class="list-inline-item"><a class="text-dark" href="">{{ rdv.subCategory }}</a></li>
                <li class="list-inline-item"><i class="fas fa-angle-right"></i></li>
                <li class="list-inline-item text-secondary">{{ rdv.title }}</li>
            </ul>
        </div>
        {% for message in app.flashes('success') %}
            <div class="center-msg">
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <strong>
                        {{ message }}
                    </strong>
                </div>
            </div>
        {% endfor %}
        <div class="row">
            <!-- Post Content Column -->
            <div class="col-lg-8">
                <!-- Title -->
                <h1 class="mt-4 rdv-annoce-title">{{ rdv.title }}</h1>
                <!-- Author -->
                <div class="media">
                    <!-- <img class="mr-3 rounded-circle" src="{{ asset('uploads/images/profile/'~rdv.author.imageName) }}"
                         width="64" height="64" alt="Generic placeholder image"> -->

                         <img  class="mr-3 rounded-circle"  src="https://i.imgur.com/90hNfKJ.png" width="64" height="64" alt="Generic placeholder image">
                    <div class="media-body">
                        <p style="margin-top:25px;">Publié par <i class="fa fa-user"></i> <strong>Owner</strong><a class="profile-link" href="{{ path('consultant_profile', {'id': rdv.author.id}) }}">
                                {{ rdv.author.firstName ~ ' ' ~ rdv.author.lastName }}</a>&nbsple {{ rdv.createdAt|date('M d Y') }} à
                            {{ rdv.createdAt|date('H:m') }}</p>
                    </div>
                </div>
                <br>
                <!-- Preview Image -->
                <!-- <img class="img-fluid rounded" src="{{ absolute_url(asset('uploads/images/ad/'~rdv.imageName)) }}" alt=""> -->
                <!-- <img class="img-fluid rounded" id="imgRdv" src="https://i.imgur.com/Z2NEZXp.jpg" alt="" > -->
                <div id="imgRdv">

                </div>
                <hr>
                <!-- Post Content -->

                <b style="">A propos de ce RDV</b>
                <p>{{ rdv.description }}</p>
                <hr>
                <div class="card my-4 bg-light">
                    <h5 class="card-header" style="font-size: larger">Lieux et dates du RDV</h5>
                    <div class="card-body">
                      {% set count = 0 %}
                      {% for session in rdv.sessions %}
                              {% set count = count+1 %}
                             <h5>Session {{count}}: {% if session.dateSession < date() %}<span style="color:red"> Dépassé</span>{% else %}<span style="color:green"> Active</span>{% endif %}</h5>
                             <b>Lieu</b>
                             <p>{{ session.place.address}} - {{ session.place.delegation.name }} - {{ session.place.city.name }}.</p>
                     <b>Date</b>
                             <p>Le {{ session.dateSession|date('d/m/y')}} de {{ session.startTime|date('H:m')}} à {{ session.endTime|date('H:m')}}. </p>
                     {% endfor %}

                      </div>
                  </div>


                <b style="font-size: larger">Mots clés</b>
                <br>
                <div class="my-2">
                    <!-- {% for tag in rdv.tags %}
                    <span class="badge badge-warning">{{ tag.name }}</span>
                    {% endfor %} -->

                    <span class="badge badge-warning">Slug 1</span>
                    <span class="badge badge-warning">Slug 2</span>
                    <span class="badge badge-warning">Slug 3</span>
                </div>
                <hr>
            </div>
            <!-- Sidebar Widgets Column -->
            <div class="col-md-4">
                <!-- Side Widget -->
                <div class="card my-4 bg-light">
                    <h5 class="card-header">Pour participer a ce RDV</h5>
                    <div class="card-body">
                        <p><i class="fas fa-user-tie" style="color: red"></i>&nbspPublic : Tout le monde</p>
						{% if rdv.closestSession %}
                        <p><i class="fas fa-user"></i>&nbsp<b>{{ rdv.closestSession.nbrParticipants }}</b>&nbsp<span>places</span></p>
                        <p><i class="fas fa-map-marker-alt"></i>&nbsp{{ rdv.closestSession.place.delegation }}, {{ rdv.closestSession.place.city }}</p>
						{% else %}
						<p><i class="fas fa-window-close"></i>&nbsp Pas de sessions actives pour le moment</p>
						{% endif %}
             <form action="{{ path('participation') }}" method="post">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <i class="far fa-calendar-alt input-group-text"></i>
                            </div>
                            <select name="session" class="form-control bg-white">
                                {% for session in rdv.remainingSessions %}
                                    <option value="{{ session.id }}">{{ session.dateSession|date('M d Y') ~ ' ' ~ session.startTime|date('H:i') }}</option>
                                {% endfor %}
                            </select>
                        </div>
						{% if rdv.closestSession %}
                        <p><i class="far fa-money-bill-alt"></i>&nbsp<span class="font-weight-bold">{{ rdv.closestSession.price }} <sup>DTN</sup></span></p>
                        <p><i class="fas fa-history"></i></i>&nbspDurée : {{ rdv.closestSession.endTime.diff(rdv.closestSession.startTime).h }} Heure</p>
						{% endif %}
                        <div class="row">

                            <div class="col-lg-12">
							{% if rdv.closestSession %}
              <button type="submit" class="btn btn-warning mt-2 w-100" {% if not rdv.published  %}disabled="disabled"{% endif %}>Participer</button>
							{% else %}
							<button type="submit" class="btn btn-warning mt-2 w-100" data-toggle="modal" data-target="#resteInfoModal" {% if not rdv.published  %}disabled="disabled"{% endif %}>
                                    Restez informé
                                </a>
							{% endif %}
                            </div>
                            {% for message in app.flashes('notice') %}
                            <div class="flash-notice col-lg-12 alert alert-success mt-2">
                            {{ message }}
                            </div>
                            {% endfor %}
                            </form>

                            <div class="clo-lg-4"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="resteInfoModal" tabindex="-1" role="dialog" aria-labelledby="resteInfoModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title " id="resteInfoModalLabel">Restez informé</h5>
                    </div>
                    <div class="modal-body">
                        <p class="text-center">Inscrivez-vous dès maintenant</p>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="Email" aria-label="Email" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-warning" type="button" data-dismiss="modal">Restez informé</button>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                    </div>
                </div>
            </div>
        </div>

        <!-- Comments Form -->
        <div class="card my-4">
            <h5 class="card-header">Notez ce RDV
                <div class="float-right font-weight-bold">
                    <span class="fa fa-star note-star" data-index="1"></span>
                    <span class="fa fa-star note-star" data-index="2"></span>
                    <span class="fa fa-star note-star" data-index="3"></span>
                    <span class="fa fa-star note-star" data-index="4"></span>
                    <span class="fa fa-star note-star" data-index="5"></span>
                </div>
            </h5>
            <div class="card-body">
                <form>
                    <div class="form-group">
                        <textarea class="form-control" rows="3" placeholder="Laissez un commentaire"></textarea>
                    </div>
                    <button type="submit" class="btn btn-warning">Envoyer</button>
                </form>
            </div>
        </div>
        <!-- Comment with nested comments -->
        <div class="media mb-4">
            <img class="d-flex mr-3 rounded-circle" src="https://i.imgur.com/Z2NEZXp.jpg"
                 width="50" height="50" alt="">
            <div class="media-body">
                <h5 class="mt-0">Commenter Name</h5>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <br>
                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras
                purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi
                vulputate fringilla. Donec lacinia congue felis in faucibus.
                <p class="blockquote-footer">Aout 2018</p>
            </div>
        </div>
        <div class="cont-autre-rdv">
            <p class="h4">Les RDV qui peuvent vous interesser</p>
            <div class="row">
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card h-100">
                        <a href="#"><img class="card-img-top"
                                         src="http://www.rdv-formation.tn/testt/web/upload/img/120.jpeg" alt=""></a>
                        <div class="card-body">
                            <h4 class="card-title">
                                <a class="rdv-annoce-title" href="#">Créer un portfolio en ligne </a>
                            </h4>
                            <span><i class="fas fa-map-marker-alt"></i>&nbsp<span>Tunis</span>&nbsp-&nbsp<span>Cité Khadra</span></span><br>
                            <span><i class="far fa-clock"></i>&nbsp<span>12/04/2018</span>&nbspà&nbsp<span>14h00</span></span>

                        </div>
                        <div class="card-footer">
                            <small class="text-muted">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </small>
                            <div class="float-lg-right font-weight-bold">
                                <span>5</span>
                                <span>TND</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card h-100">
                        <a href="#"><img class="card-img-top"
                                         src="http://www.rdv-formation.tn/testt/web/upload/img/120.jpeg" alt=""></a>
                        <div class="card-body">
                            <h4 class="card-title">
                                <a class="rdv-annoce-title" href="#">Créer un portfolio en ligne </a>
                            </h4>
                            <span><i class="fas fa-map-marker-alt"></i>&nbsp<span>Tunis</span>&nbsp-&nbsp<span>Cité Khadra</span></span><br>
                            <span><i class="far fa-clock"></i>&nbsp<span>12/04/2018</span>&nbspà&nbsp<span>14h00</span></span>

                        </div>
                        <div class="card-footer">
                            <small class="text-muted">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </small>
                            <div class="float-lg-right font-weight-bold">
                                <span>5</span>
                                <span>TND</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card h-100">
                        <a href="#"><img class="card-img-top"
                                         src="http://www.rdv-formation.tn/testt/web/upload/img/120.jpeg" alt=""></a>
                        <div class="card-body">
                            <h4 class="card-title">
                                <a class="rdv-annoce-title" href="#">Créer un portfolio en ligne </a>
                            </h4>
                            <span><i class="fas fa-map-marker-alt"></i>&nbsp<span>Tunis</span>&nbsp-&nbsp<span>Cité Khadra</span></span><br>
                            <span><i class="far fa-clock"></i>&nbsp<span>12/04/2018</span>&nbspà&nbsp<span>14h00</span></span>

                        </div>
                        <div class="card-footer">
                            <small class="text-muted">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </small>
                            <div class="float-lg-right font-weight-bold">
                                <span>5</span>
                                <span>TND</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        //noter un rdv
        $(document).on('click', '.note-star', function() {
            $(".note-star").removeClass('checked');
            var selected_star = $(this).index();
            $(".note-star").each(function(index, el) {
                if (index <= selected_star) {
                    $(el).addClass('checked');
                }
            });
        });
        //fin note RDV

        $(".note-star").hover(function() {
            var selected_star = $(this).index();
            $(".note-star").each(function(index, el) {
                if (index <= selected_star)
                {
                    $(el).addClass('str-shine');
                }
            });
        }, function(){
            $(".note-star").removeClass('str-shine');

        });
    </script>
{% endblock %}
