{% extends 'AppBundle::base.html.twig' %}
{% block title %}
    <title>Nouvelle Annonce</title>
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {% stylesheets '@CraueFormFlowBundle/Resources/assets/css/buttons.css' filter='cssrewrite' output='assets/style/craue_formflow_buttons.css'%}
    <link type="text/css" rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
    <style>
        .stepNav {
            margin: 30px 20px;
            height: 43px;
            padding-right: 10px;
            position: relative;
            z-index: 0;
        }

        /* z-index to make sure the buttons stack from left to right */

        .stepNav li {
            float: left;
            position: relative;
            z-index: 3;
            -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12);
            -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12);
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12);
        }

        .stepNav li:first-child {
            -webkit-border-radius: 5px 0 0 5px;
            -moz-border-radius: 5px 0 0 5px;
            border-radius: 5px 0 0 5px;
        }

        .stepNav li:nth-child(2) {
            z-index: 2;
        }

        .stepNav li:nth-child(3) {
            z-index: 1;
        }

        .stepNav li:nth-child(4) {
            z-index: 0;
        }

        /* different widths */
        .stepNav.threeWide li {
            width: 30%;
        }

        /* step links */

        .stepNav a, .stepNav a:visited {
            width: 100%;
            height: 43px;
            padding: 0 0 0 25px;
            color: #717171;
            text-align: center;
            text-shadow: 0 1px 0 #fff;
            line-height: 43px;
            white-space: nowrap;
            border: 1px solid #cbcbcb;
            text-decoration: none;
            border-top-color: #dddddd;
            border-right: 0;
            background-color: #fbfbfb;
            background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(251, 251, 251)), to(rgb(233, 233, 233)));
            background-image: -webkit-linear-gradient(top, rgb(251, 251, 251), rgb(233, 233, 233));
            background-image: -moz-linear-gradient(top, rgb(251, 251, 251), rgb(233, 233, 233));
            background-image: -o-linear-gradient(top, rgb(251, 251, 251), rgb(233, 233, 233));
            background-image: -ms-linear-gradient(top, rgb(251, 251, 251), rgb(233, 233, 233));
            background-image: linear-gradient(top, rgb(251, 251, 251), rgb(233, 233, 233));
            float: left;
            position: relative;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }

        .stepNav li:first-child a {
            padding-left: 12px;
            -webkit-border-radius: 5px 0 0 5px;
            -moz-border-radius: 5px 0 0 5px;
            border-radius: 5px 0 0 5px;
        }

        .stepNav a:before {
            content: "";
            width: 29px;
            height: 29px;
            border-right: 1px solid #dddddd;
            border-bottom: 1px solid #cbcbcb;
            background-image: -webkit-gradient(linear, right top, left bottom, from(rgb(251, 251, 251)), to(rgb(233, 233, 233)));
            background-image: -webkit-linear-gradient(right top, rgb(251, 251, 251), rgb(233, 233, 233));
            background-image: -moz-linear-gradient(right top, rgb(251, 251, 251), rgb(233, 233, 233));
            background-image: -o-linear-gradient(right top, rgb(251, 251, 251), rgb(233, 233, 233));
            background-image: -ms-linear-gradient(right top, rgb(251, 251, 251), rgb(233, 233, 233));
            background-image: linear-gradient(right top, rgb(251, 251, 251), rgb(233, 233, 233));
            display: block;
            position: absolute;
            top: 6px;
            right: -16px;
            z-index: -1;
            -webkit-transform: rotate(-45deg);
            -moz-transform: rotate(-45deg);
            -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
        }

        .stepNav a:hover {
            color: #2e2e2e;
            background-color: #f5f5f5;
            background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(242, 242, 242)), to(rgb(217, 217, 217)));
            background-image: -webkit-linear-gradient(top, rgb(242, 242, 242), rgb(217, 217, 217));
            background-image: -moz-linear-gradient(top, rgb(242, 242, 242), rgb(217, 217, 217));
            background-image: -o-linear-gradient(top, rgb(242, 242, 242), rgb(217, 217, 217));
            background-image: -ms-linear-gradient(top, rgb(242, 242, 242), rgb(217, 217, 217));
            background-image: linear-gradient(top, rgb(242, 242, 242), rgb(217, 217, 217));
        }

        .stepNav a:hover:before {
            background-image: -webkit-gradient(linear, right top, left bottom, from(rgb(242, 242, 242)), to(rgb(217, 217, 217)));
            background-image: -webkit-linear-gradient(right top, rgb(242, 242, 242), rgb(217, 217, 217));
            background-image: -moz-linear-gradient(right top, rgb(242, 242, 242), rgb(217, 217, 217));
            background-image: -o-linear-gradient(right top, rgb(242, 242, 242), rgb(217, 217, 217));
            background-image: -ms-linear-gradient(right top, rgb(242, 242, 242), rgb(217, 217, 217));
            background-image: linear-gradient(right top, rgb(242, 242, 242), rgb(217, 217, 217));
        }

        /* selected */

        .stepNav li.selected {
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
            font-weight: 700;
        }

        .stepNav li.selected a, .stepNav li.selected a:before {
            background: #ffc33d;
        }

        .stepNav li.selected a {
            border-top-color: #bebebe;
            -webkit-box-shadow: inset 2px 1px 2px rgba(0, 0, 0, 0.12);
            -moz-box-shadow: inset 2px 1px 2px rgba(0, 0, 0, 0.12);
            box-shadow: inset 2px 1px 2px rgba(0, 0, 0, 0.12);
        }

        .stepNav li.selected a:before {
            border-right: 1px solid #ffc33d;
            border-bottom: 1px solid #ffc33d;
            -webkit-box-shadow: inset -1px -1px 1px rgba(0, 0, 0, 0.1);
            -moz-box-shadow: inset -1px -1px 1px rgba(0, 0, 0, 0.1);
            box-shadow: inset -1px -1px 1px rgba(0, 0, 0, 0.1);
        }


        .cross-keywrd:hover, .local-rdv:hover {
            cursor: pointer;
        }

        .local-rdv.invalid {
            color: red;
        }

        .local-rdv.valid {
            color: green;
        }

        .keywrdspan {
            font-size: smaller !important;
            font-weight: 400 !important;
        }

        .invalidputrdv {
            border: solid 1px red;
        }

        @-webkit-keyframes blinker {
            from {
                opacity: 1.0;
            }
            to {
                opacity: 0.0;
            }
        }

        .blink {
            text-decoration: blink;
            -webkit-animation-name: blinker;
            -webkit-animation-duration: 0.6s;
            -webkit-animation-iteration-count: infinite;
            -webkit-animation-timing-function: ease-in-out;
            -webkit-animation-direction: alternate;
        }

        #delete-date-rdv:hover, #add-date-rdv:hover {
            cursor: pointer;
            border-bottom: 2px solid #e3c136;
        }

        .oblig-star {
            color: red;
        }
        .arrow-up {
            width: 0;
            height: 0;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-bottom: 5px solid #ffc107;
        }
        #cart-inf-title .arrow-up {
            position: relative;
            margin-left: 116px;
        }
        #cart-inf-keywrd .arrow-up {
            position: relative;
            margin-left: 75px;
        }
        #cart-inf-desc .arrow-up {
            position: relative;
            margin-left: 187px;
        }
        .arr-cartinf{
            display: none;
            margin-bottom: 4px;
        }
        .cartid-info {
            -webkit-box-shadow: 0px 0px 7px 1px rgba(255, 0, 0, 1);
            -moz-box-shadow: 0px 0px 7px 1px rgba(255, 0, 0, 1);
            box-shadow: 0px 0px 7px 1px rgba(255, 193, 7, 1);
        }

        .vich-file > input {
            visibility: visible!important;
            position: relative!important;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="container">
        <h4 class="my-2">Publiez votre annonce RDV en 3 étapes:</h4>
        <ul class="stepNav threeWide">
            <li class="{% if flow.getCurrentStep == 1 %}selected{% endif %} prg-bar-1"><a href="" title="">Description RDV</a></li>
            <li class="{% if flow.getCurrentStep == 2 %}selected{% endif %} prg-bar-2"><a href="" title="">Planification RDV</a></li>
            <li class="{% if flow.getCurrentStep == 3 %}selected{% endif %} prg-bar-3"><a href="" title="">Publication</a></li>
        </ul>

        {% if flow.getCurrentStep == 2 %}
            {{ form_start(form, {attr: {novalidate: 'novalidate'}}) }}
        {% else %}
            {{ form_start(form) }}
        {% endif %}
        {{ form_start(form) }}
        <div class="row">
            <div class="col-10 offset-1">
                {% if flow.getCurrentStep == 1 %}
                    <div class="rdvFormInfo1 jumbotron bg-light mt-4">

                            <div class="form-group">
                                <label for="input-title">Intitulé du RDV <i data-info="cart-inf-title" class="fas fa-info-circle cart-ifo"></i><sup class="oblig-star">*</sup></label>
                                <div id="cart-inf-title" class="arr-cartinf">
                                    <div class="arrow-up"></div>
                                    <div class="cartid-info">
                                        <small class="form-text">Le titre du Rdv doit etre clair, concis et accrocheur pour capter l'attention</small>
                                    </div>
                                </div>
                                {{ form_widget(form.title, {'attr': {'class': 'form-control in-step1', 'id': 'input-title'}}) }}
                            </div>
                            <div class="form-group">
                                <label for="category-select">Sélectionner une catégorie<sup
                                            class="oblig-star">*</sup></label>
                                {{ form_widget(form.category, {'attr': {'class': 'form-control in-step1', 'id': 'category-select'}}) }}
                            </div>
                            <div class="form-group">
                                <label for="subcategory-select">Sélectionner une sous catégorie <sup
                                            class="oblig-star">*</sup></label>
                                {{ form_widget(form.subCategory, {'attr': {'class': 'form-control in-step1', 'id': 'subcategory-select'}}) }}
                            </div>
                            <div class="form-group">
                                <label>Mots clés <i data-info="cart-inf-keywrd" class="fas fa-info-circle cart-ifo"></i><sup class="oblig-star">*</sup></label>
                                <div id="cart-inf-keywrd" class="arr-cartinf">
                                    <div class="arrow-up"></div>
                                    <div class="cartid-info">
                                        <small class="form-text">Les mots clés permettent de meiux référencer votre RDV pour plus de visibilité</small>
                                    </div>
                                </div>
                                <div class="input-group mb-3">
                                    <input type="text" id="keywrdRdvId" class="form-control" placeholder="Tag" required="required">
                                    <div class="input-group-append">
                                        <button id="addKeywrdRdvId" class="btn btn-warning" type="button">Ajouter</button>
                                    </div>
                                </div>
                                <div id="keywordRdvBlk" class="input-group in-step1">
                                    {% for tag in form.tags.vars.value %}
                                        <span class="badge badge-warning keywrdspan mx-1 my-1">{{ tag.name }}&nbsp</span>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="description-input">Description de votre RDV <i data-info="cart-inf-desc" class="fas fa-info-circle cart-ifo"></i><sup class="oblig-star">*</sup></label>
                                <div id="cart-inf-desc" class="arr-cartinf">
                                    <div class="arrow-up"></div>
                                    <div class="cartid-info">
                                        <small class="form-text">Plus vous serez précis, plus vous donnez envie aux autres membres de participer à votre RDV</small>
                                    </div>
                                </div>
                                {{ form_widget(form.description, {'attr': {'class': 'form-control in-step1', 'id': 'description-input'}}) }}
                            </div>
                            <div class="form-group">
                                <label for="niveau-select">Pour quel niveau ce RDV est-il conseillé <sup
                                            class="oblig-star">*</sup></label>
                                {{ form_widget(form.niveau, {'attr': {'class': 'form-control in-step1', 'id': 'niveau-select'}}) }}
                            </div>
                            <div class="form-group">
                                {% include '@CraueFormFlow/FormFlow/buttons.html.twig' with {
                                craue_formflow_button_render_reset: false,
                                craue_formflow_button_class_next: 'btn btn-warning float-right next-button',
                                craue_formflow_button_class_back: 'btn btn-warning float-right mr-2',
                                craue_formflow_button_class_finish: 'btn btn-warning float-right',
                                } %}
                            </div>
                            {{ form_widget(form._token) }}
                    </div>
                    <div class="d-none">
                        {{ form_widget(form.tags) }}
                    </div>
                {% elseif flow.getCurrentStep == 2 %}
                    <div class="rdvFormInfo2 jumbotron bg-light mt-4">
                        {% set sessionsPrototype = form.sessions.vars.prototype %}
                        <div class="table-responsive-lg">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>Jour<sup class="oblig-star">*</sup></th>
                                    <th>Heure début<sup class="oblig-star">*</sup></th>
                                    <th>Heure fin<sup class="oblig-star">*</sup></th>
                                    <th>Prix&nbsp<sup style="font-weight: 400; font-size: small">DTN</sup><sup
                                                class="oblig-star">*</sup></th>
                                    <th>Nb.participants<sup class="oblig-star">*</sup></th>
                                    <th>Lieu<sup class="oblig-star">*</sup></th>
                                </tr>
                                </thead>
                                <tbody id="tb-body-rdv">
                                {% for session in form.sessions %}
                                    <tr class="rdvTrTb" data-line="{{ loop.index0 }}">
                                        <td>
                                            {{ form_widget(session.dateSession, {'attr': {'class': 'form-control in-step2'}}) }}
                                        </td>
                                        <td>
                                            {{ form_widget(session.startTime, {'attr': {'class': 'form-control in-step2'}}) }}
                                        </td>
                                        <td>
                                            {{ form_widget(session.endTime, {'attr': {'class': 'form-control in-step2'}}) }}
                                        </td>
                                        <td>
                                            {{ form_widget(session.price, {'attr': {'class': 'form-control in-step2'}}) }}
                                        </td>
                                        <td>
                                            {{ form_widget(session.nbrParticipants, {'attr': {'class': 'form-control in-step2'}}) }}
                                        </td>
                                        <td>
                                            <i class="fas fa-map-marker-alt local-rdv elmnt-modal-place-{{ loop.index0 }}" data-toggle="modal"
                                               data-target="#formRdvModal{{ loop.index0 }}"></i>
                                        </td>

                                        <div class="modal fade modal-place" id="formRdvModal{{ loop.index0 }}" data-line="{{ loop.index0 }}" tabindex="-1" data-backdrop="static"
                                             data-keyboard="false" role="dialog" aria-labelledby="formRdvModalLabel{{ loop.index0 }}"
                                             aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="formRdvModalLabel{{ loop.index0 }}">Lieu</h5>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="form-group">
                                                            {{ form_label(session.place.city) }}
                                                            {{ form_widget(session.place.city, {'attr': {'class': 'form-control in-step2 elmnt-modal-place'}}) }}
                                                        </div>
                                                        <div class="form-group">
                                                            {{ form_label(session.place.delegation) }}
                                                            {{ form_widget(session.place.delegation, {'attr': {'class': 'form-control in-step2 elmnt-modal-place'}}) }}
                                                        </div>
                                                        <div class="form-group">
                                                            {{ form_label(session.place.address) }}
                                                            {{ form_widget(session.place.address, {'attr': {'class': 'form-control in-step2 elmnt-modal-place'}}) }}
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-warning btnValidplace" data-dismiss="modal">Ok</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </tr>
                                {% endfor %}
                                <tr class="rdvTrTb first" data-line="__name__">
                                    <td>
                                        {{ form_widget(sessionsPrototype.dateSession, {'attr': {'class': 'form-control in-step2'}}) }}
                                    </td>
                                    <td>
                                        {{ form_widget(sessionsPrototype.startTime, {'attr': {'class': 'form-control in-step2'}}) }}
                                    </td>
                                    <td>
                                        {{ form_widget(sessionsPrototype.endTime, {'attr': {'class': 'form-control in-step2'}}) }}
                                    </td>
                                    <td>
                                        {{ form_widget(sessionsPrototype.price, {'attr': {'class': 'form-control in-step2'}}) }}
                                    </td>
                                    <td>
                                        {{ form_widget(sessionsPrototype.nbrParticipants, {'attr': {'class': 'form-control in-step2'}}) }}
                                    </td>
                                    <td>
                                        <i class="fas fa-map-marker-alt local-rdv elmnt-modal-place-0" data-toggle="modal"
                                           data-target="#formRdvModal__name__"></i>
                                    </td>

                                    <div class="modal fade modal-place first" id="formRdvModal__name__" data-line="__name__" tabindex="-1" data-backdrop="static"
                                         data-keyboard="false" role="dialog" aria-labelledby="formRdvModalLabel__name__"
                                         aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="formRdvModalLabel__name__">Lieu</h5>
                                                </div>
                                                <div class="modal-body">
                                                        <div class="form-group">
                                                            {{ form_label(sessionsPrototype.place.city) }}
                                                            {{ form_widget(sessionsPrototype.place.city, {'attr': {'class': 'form-control in-step2 elmnt-modal-place'}}) }}
                                                        </div>
                                                        <div class="form-group">
                                                            {{ form_label(sessionsPrototype.place.delegation) }}
                                                            {{ form_widget(sessionsPrototype.place.delegation, {'attr': {'class': 'form-control in-step2 elmnt-modal-place'}}) }}
                                                        </div>
                                                        <div class="form-group">
                                                            {{ form_label(sessionsPrototype.place.address) }}
                                                            {{ form_widget(sessionsPrototype.place.address, {'attr': {'class': 'form-control in-step2 elmnt-modal-place'}}) }}
                                                        </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-warning btnValidplace" data-dismiss="modal">Ok</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="row text-center">
                            <div class="col-6">
							<span id="delete-date-rdv">
                                <i class="fas fa-minus"></i>
                                &nbspSupprimer la dernière date
							</span>
                            </div>
                            <div class="col-6">
							<span id="add-date-rdv"><i
                                        class="fas fa-plus"></i>&nbspAjouter une autre date
							</span>
                            </div>
                        </div>
                        <div class="row my-3">
                            <div class="col-lg-6">
                            </div>
                            <div class="col-lg-6">
                                {% include '@CraueFormFlow/FormFlow/buttons.html.twig' with {
                                craue_formflow_button_render_reset: false,
                                craue_formflow_button_class_next: 'btn btn-warning float-right next-button',
                                craue_formflow_button_class_back: 'btn btn-warning float-right mr-2',
                                craue_formflow_button_class_finish: 'btn btn-warning float-right',
                                } %}
                            </div>
                        </div>
                        <div class="blk-alert d-none">
                            <div class="alert alert-danger" role="alert">
                                <span class="blink">Compléter les champs nécessaires!</span>
                            </div>
                        </div>
                    </div>
                    {{ form_widget(form._token) }}
                {% elseif flow.getCurrentStep == 3 %}
                    <div class="rdvFormInfo3 jumbotron bg-light mt-4">
                        <h5>Image d'annonce de RDV</h5>
                        <div class="card" style="width: 18rem;">
                            <img id="rdvControlImg" class="card-img-top"
                                 src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22286%22%20height%3D%22180%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20286%20180%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_165d2478cd9%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A14pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_165d2478cd9%22%3E%3Crect%20width%3D%22286%22%20height%3D%22180%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22106.3984375%22%20y%3D%2295.4%22%3E286x180%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E"
                                 width="80" height="80" alt="Card image cap">
                            <div class="card-body">
                                    <div class="form-group">
                                        {{ form_widget(form.imageFile, {'attr': {'class': 'form-control-file', 'id': 'rdvControlFile'}}) }}
                                    </div>
                            </div>
                        </div>
                            <div class="form-check">
                                {{ form_widget(form.terms1) }}
                                <label class="form-check-label" for="appbundle_rdv_step3_terms1">Je confirme l’exactitude de toutes les informations déclarées dans cette annonce de Rdv</label>
                            </div>
                            <div class="form-check" style="display: inline-flex;">
                                {{ form_widget(form.terms2) }}
                                <label class="form-check-label" for="appbundle_rdv_step3_terms2">Je m’engage à respecter tous les élements déclarés dans cette annonce et à assumer mon entière responsabilité en cas de non réalisation (selon les CGU)</label>
                            </div>
                        <div class="row my-3">
                            <div class="col-lg-6"></div>
                            <div class="col-lg-6">
                                {% include '@CraueFormFlow/FormFlow/buttons.html.twig' with {
                                craue_formflow_button_render_reset: false,
                                craue_formflow_button_class_next: 'btn btn-warning float-right next-button',
                                craue_formflow_button_class_back: 'btn btn-warning float-right mr-2',
                                craue_formflow_button_class_finish: 'btn btn-warning float-right',
                                } %}
                            </div>
                        </div>
                    </div>
                {% endif %}
                {{ form_end(form) }}
            </div>
        </div>

    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% if flow.getCurrentStep == 1 %}
        <script type="text/javascript">
            $(function () {

                var $collectionHolder = $('#keywordRdvBlk');
                //Check if the div elemtn exists
                if ($collectionHolder.length > 0) {

                    //If the user has entred tags disable required from the tags input
                    if($collectionHolder.children().length > 0)
                        $('#keywrdRdvId').attr('required', false);

                    $collectionHolder.data('index', $collectionHolder.find(':input').length);

                    $('#addKeywrdRdvId').on('click', function () {
                        if($('#keywrdRdvId').val() != '') {
                            addTagForm($collectionHolder, $('#keywrdRdvId').val());
                            $('#keywrdRdvId').attr('required', false);
                        }
                    })
                }

            })

            function addTagForm($collectionHolder, name) {

                // Get the data-prototype explained earlier
                var prototype = '<input type="hidden" id="appbundle_rdv_step1_tags___name___name" name="appbundle_rdv_step1[tags][__name__][name]">';
                var tagVisualElement = '<span class="badge badge-warning keywrdspan mx-1 my-1">' + $("#keywrdRdvId").val() + '&nbsp</span>';

                // get the new index
                var index = $collectionHolder.data('index');

                //Construct hidden text input which will be sent to the form
                var newForm = $($.parseHTML(prototype.replace(/__name__/g, index)));
                newForm.attr('value', name);

                // increase the index with one for the next item
                $collectionHolder.data('index', index + 1);

                $collectionHolder.append(newForm);
                $collectionHolder.append(tagVisualElement);
                //Clear tag text input
                $("#keywrdRdvId").val('');

            }
        </script>

    {% elseif flow.getCurrentStep == 2 %}
        <script type="text/javascript">

            var sessionIndex;

            showHideDeleteButton();

            if($(".rdvTrTb:not('.first')").length > 0)
                sessionIndex =  parseInt($(".rdvTrTb:not('.first')").last().attr('data-line')) + 1;
            else
                sessionIndex = 0;

            var sessionPrototype = $('.rdvTrTb.first')[0].outerHTML;
            var placePrototype = $('.modal-place.first')[0].outerHTML;

            $('.rdvTrTb.first')[0].outerHTML = sessionPrototype.replace(/__name__/g, sessionIndex);
            $('.modal-place.first')[0].outerHTML = placePrototype.replace(/__name__/g, sessionIndex);

            $('#add-date-rdv').on('click', function () {
                sessionIndex++;
                sessionObject = sessionPrototype.replace(/__name__/g, sessionIndex);
                placeObject = placePrototype.replace(/__name__/g, sessionIndex);
                $('#tb-body-rdv').append($($.parseHTML(sessionObject)));
                $('.table-responsive-lg').append($($.parseHTML(placeObject)));
                showHideDeleteButton();
            });

            $('#delete-date-rdv').on('click', function() {
               $('.rdvTrTb[data-line="'+sessionIndex+'"]').remove();
               $('.modal-place[data-line="'+sessionIndex+'"]').remove();
               sessionIndex--;
               showHideDeleteButton();

            });
            
            function checkRequiredFields() {
                var $form = $('form[name="appbundle_rdv_step2"]');

                if ($form.find('.in-step2').filter(function(){ return this.value === '' }).length > 0) {
                    event.preventDefault();
                    $('.blk-alert').removeClass('d-none');
                }
                else
                    $('.blk-alert').addClass('d-none');

                if ($form.find('.in-step2.elmnt-modal-place').filter(function(){ return this.value === '' }).length > 0) {

                    event.preventDefault();
                    $('.local-rdv').addClass('invalid');
                }
                else
                    $('.local-rdv').removeClass('invalid');
            }

            function showHideDeleteButton() {

                if($(".rdvTrTb").length > 1)
                    $('#delete-date-rdv').show();
                else
                    $('#delete-date-rdv').hide();
            }

            $(document).ready(function () {
                $('button.next-button').on('click', checkRequiredFields);
            });
        </script>
    {% elseif flow.getCurrentStep == 3 %}
        <script type="text/javascript">
            function readURL(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();

                    reader.onload = function (e) {
                        $('#rdvControlImg').attr('src', e.target.result);
                    }

                    reader.readAsDataURL(input.files[0]);
                }
            }

            $("#appbundle_rdv_step3_imageFile_file").change(function () {
                readURL(this);
            });
        </script>
    {% endif %}
{% endblock %}
