                    {% for rdv in rdvs %}

                    <div class="col-lg-4 col-md-6 mb-4">
                        <div class="card h-100">
                            <a href="{{ path('ad_details', {'id': rdv.id}) }}">
                                {#{% image '@AppBundle/Resources/public/src/images/139.jpeg' output='assets/images/139.jpeg' %}#}
                                {#<img class="card-img-top mh-100" src="{{ asset_url }}" alt=""/>#}
                                {#{% endimage %}#}
                                <img class="card-img-top mh-100" src="https://www.jechercheunrdv.fr/Portail/img/animation-particulier/slide-particulier-01.png" alt=""/>
                            </a>
                            <div class="card-body">
                                <h4 class="card-title">
                                    <a class="rdv-annoce-title" href="{{ path('ad_details', {'id': rdv.id}) }}">{{ rdv.title }}</a>
                                </h4>
                                <span><i class="fas fa-map-marker-alt"></i>&nbsp{{ rdv.sessions|first.place.city.name }}</span><br>
                                {#<span><i class="far fa-clock"></i>&nbsp{{ rdv.sessions|first.startTime|date('h') }}h</span>#}
								<span><i class="far fa-clock"></i>&nbsp{{ rdv.createdAt|date('Y-m-d') }}</span>

                            </div>
                            <div class="card-footer">
                                <small class="text-muted">
                                    {% for i in 1..rdv.note %}
                                    <i class="fas fa-star"></i>
								{% endfor %}
                                </small>
                                <div class="float-lg-right font-weight-bold">
                                    <span>{{ rdv.price }}</span>
                                    <span>TND</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% else %}
                        <h5 class="mx-auto text-danger">Aucun Rdv publié</h5>
                    {% endfor %}

                  {#  <div class="col-lg-4 offset-4">
                        {{ knp_pagination_render(rdvs) }}
                    </div> #}
