Bonjour {{ firstname }},<br><br>
Votre annonce <a href="{{ ad_url }}">{{ ad_title }}</a> a été validé par l'administrateur et désormais publié sur la page d'accueil.<br><br>
Cordialement,<br>
Equipe 5oudh-RDV.