{% trans_default_domain 'FOSUserBundle' %}
<div class="container">
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-8">

            <p class="h5 mt-4 font-weight-bold">Vos informations personnelles</p>
            <div class="jumbotron bg-light mt-4">
                <div class="form-group">
                    {{ form_label(form.username) }}
                    {{ form_widget(form.username, {'attr': {'class': 'form-control', 'id': 'inputPseudo', 'placeholder': 'Pseudo'}}) }}
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        {{ form_label(form.lastName) }}
                        {{ form_widget(form.lastName, {'attr': {'class': 'form-control', 'id': 'inputNom', 'placeholder': 'Nom'}}) }}
                    </div>
                    <div class="form-group col-md-6">
                        {{ form_label(form.firstName) }}
                        {{ form_widget(form.firstName, {'attr': {'class': 'form-control', 'id': 'inputPrenom', 'placeholder': 'Prénom'}}) }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        {{ form_label(form.email) }}
                        {{ form_widget(form.email, {'attr': {'class': 'form-control', 'id': 'inputEmail', 'placeholder': 'Email'}}) }}
                    </div>
                    <div class="form-group col-md-6">
                        {{ form_label(form.gender) }}
                        {{ form_widget(form.gender) }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-6">
                        {{ form_label(form.plainPassword.first) }}
                        {{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control', 'id': 'inputPassword', 'placeholder': 'Password'}}) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_label(form.plainPassword.second) }}
                        {{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control', 'id': 'inputPassword', 'placeholder': 'Password'}}) }}
                    </div>
                </div>

                <div class="form-row mt-4">
                    <div class="col-md-4 mb-3">
                        {{ form_label(form.birthDate) }}
                        {{ form_widget(form.birthDate, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="col-md-4 mb-3">
                        {{ form_label(form.cin) }}
                        {{ form_widget(form.cin, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="col-md-4 mb-3">
                        {{ form_label(form.phone) }}
                        {{ form_widget(form.phone, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form_label(form.address) }}
                    {{ form_widget(form.address, {'attr': {'class': 'form-control', 'id': 'inputAddress', 'placeholder': 'N°5 Rue Irak'}}) }}
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        {{ form_label(form.city) }}
                        {{ form_widget(form.city, {'attr': {'class': 'form-control', 'id': 'inputCity'}}) }}
                    </div>
                    <div class="form-group col-md-4">
                        {{ form_label(form.delegation) }}
                        {{ form_widget(form.delegation, {'attr': {'class': 'form-control', 'id': 'inputState'}}) }}
                    </div>
                    <div class="form-group col-md-2">
                        {{ form_label(form.zip) }}
                        {{ form_widget(form.zip, {'attr': {'class': 'form-control', 'id': 'inputZip'}}) }}
                    </div>
                </div>
                <button type="submit" class="btn btn-warning float-right">Valider</button>
            </div>
            <p class="h5 mt-4 font-weight-bold">Vos informations professionnelles</p>
            <div class="jumbotron bg-light mt-4">
                <div class="form-group">
                    {{ form_label(form.biography) }}
                    {{ form_widget(form.biography, {'attr': {'class': 'form-control', 'id': 'exampleFormControlTextarea1'}}) }}
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        {{ form_label(form.proSituation) }}
                        {{ form_widget(form.proSituation, {'attr': {'class': 'form-control', 'id': 'inputSituation'}}) }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        {{ form_label(form.education) }}
                        {{ form_widget(form.education, {'attr': {'class': 'form-control', 'id': 'inputSchoolLevel'}}) }}
                    </div>
                </div>
                <div class="text-right">
                    <button type="submit" class="btn btn-warning my-3">Valider</button>
                </div>
                <div class="card mb-4 user-education-container">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-lg-11">
                                <span class="h-5 font-weight-bold">Diplômes</span>
                            </div>
                            <div class="col-lg-1">
                                <button type="button" name="button" class="btn" data-toggle="modal"
                                        data-target="#diploma-add-modal" style="background-color: #ffc33d54">
                                    <i class="fas fa-plus"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="container">
                            {% for diploma in form.diplomas %}
                                <div class="row mb-4" data-diploma-id="{{ loop.index0 }}">
                                    <div class="col-lg-11">
                                        <h5>{{ diploma.school.vars.value }}</h5>
                                    </div>
                                    <div class="col-lg-1">
                                        <button type="button" name="button" class="btn"
                                                style="background-color: #ffc33d54" data-toggle="modal"
                                                data-target="#diploma-{{ diploma.vars.name }}-edit-modal">
                                            <i class="fas fa-pencil-alt"></i>
                                        </button>
                                    </div>
                                    <div class="col-lg-12">
                                        <h6>{{ diploma.diploma.vars.value }}</h6>
                                    </div>
                                    <div class="col-lg-12">
                                        <small class="text-muted">
                                            <span>{{ diploma.startYear.vars.value }}</span><span>-</span>
                                            <span>{{ diploma.endYear.vars.value == "now"|date('Y') ? "Aujourd'hui" : diploma.endYear.vars.value }}</span>
                                        </small>
                                    </div>
                                </div>
                                <div class="modal fade" id="diploma-{{ diploma.vars.name }}-edit-modal" tabindex="-1"
                                     role="dialog" aria-labelledby="diplomeModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="diplomeModalLabel">Modifier diplôme</h5>
                                                <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                    <div class="form-group">
                                                        {{ form_label(diploma.school) }}
                                                        {{ form_widget(diploma.school, {'attr': {'class': 'form-control'}}) }}
                                                    </div>
                                                    <div class="form-group">
                                                        {{ form_label(diploma.diploma) }}
                                                        {{ form_widget(diploma.diploma, {'attr': {'class': 'form-control'}}) }}
                                                    </div>
                                                    <div class="form-group">
                                                        {{ form_label(diploma.studyField) }}
                                                        {{ form_widget(diploma.studyField, {'attr': {'class': 'form-control'}}) }}
                                                    </div>
                                                    <div class="form-row">
                                                        <div class="col-md-6 mb-3">
                                                            {{ form_label(diploma.startYear) }}
                                                            {{ form_widget(diploma.startYear, {'attr': {'class': 'form-control'}}) }}
                                                        </div>
                                                        <div class="col-md-6 mb-3">
                                                            {{ form_label(diploma.endYear) }}
                                                            {{ form_widget(diploma.endYear, {'attr': {'class': 'form-control'}}) }}
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        {{ form_label(diploma.description) }}
                                                        {{ form_widget(diploma.description, {'attr': {'class': 'form-control'}}) }}
                                                    </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="submit" class="btn btn-primary">
                                                    Enregistrer
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <hr>
                    </div>
                    <div class="modal fade" id="diploma-add-modal"
                         tabindex="-1" role="dialog" aria-labelledby="diploma-modal-label"
                         aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="diploma-modal-label">Ajouter Diplôme</h5>
                                    <button type="button" class="close" data-dismiss="modal"
                                            aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    {% set diplomaPrototype = form.diplomas.vars.prototype %}
                                    <div class="form-group">
                                        {{ form_label(diplomaPrototype.school) }}
                                        {{ form_widget(diplomaPrototype.school, {'attr': {'class': 'form-control'}}) }}
                                    </div>
                                    <div class="form-group">
                                        {{ form_label(diplomaPrototype.diploma) }}
                                        {{ form_widget(diplomaPrototype.diploma, {'attr': {'class': 'form-control'}}) }}
                                    </div>
                                    <div class="form-group">
                                        {{ form_label(diplomaPrototype.studyField) }}
                                        {{ form_widget(diplomaPrototype.studyField, {'attr': {'class': 'form-control'}}) }}
                                    </div>
                                    <div class="form-row">
                                        <div class="col-md-6 mb-3">
                                            {{ form_label(diplomaPrototype.startYear) }}
                                            {{ form_widget(diplomaPrototype.startYear, {'attr': {'class': 'form-control'}}) }}
                                        </div>
                                        <div class="col-md-6 mb-3">
                                            {{ form_label(diplomaPrototype.endYear) }}
                                            {{ form_widget(diplomaPrototype.endYear, {'attr': {'class': 'form-control'}}) }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        {{ form_label(diplomaPrototype.description) }}
                                        {{ form_widget(diplomaPrototype.description, {'attr': {'class': 'form-control'}}) }}
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-primary">
                                        Enregistrer
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-4 user-professional-experiences-container">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-lg-11">
                                <span class="h-5 font-weight-bold">Expérience professionnelles</span>
                            </div>
                            <div class="col-lg-1">
                                <button type="button" name="button" class="btn" data-toggle="modal"
                                        data-target="#experience-add-modal" style="background-color: #ffc33d54">
                                    <i class="fas fa-plus"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="container">
                            {% for experience in form.professionalExperiences %}
                                <div class="row mb-4" data-diploma-id="{{ loop.index0 }}">
                                    <div class="col-lg-11">
                                        <h5>{{ experience.title.vars.value }}</h5>
                                    </div>
                                    <div class="col-lg-1">
                                        <button type="button" name="button" class="btn"
                                                style="background-color: #ffc33d54" data-toggle="modal"
                                                data-target="#experience-{{ experience.vars.name }}-edit-modal">
                                            <i class="fas fa-pencil-alt"></i>
                                        </button>
                                    </div>
                                    <div class="col-lg-12">
                                        <h6>{{ experience.entreprise.vars.value }}</h6>
                                    </div>
                                    <div class="col-lg-12">
                                        <small class="text-muted">
                                            <span>{{ experience.startYear.vars.value }}</span><span>-</span>
                                            <span>{{ experience.endYear.vars.value == "now"|date('Y') ? "Aujourd'hui" : experience.endYear.vars.value }}</span>
                                        </small>
                                    </div>
                                </div>
                                <div class="modal fade" id="experience-{{ experience.vars.name }}-edit-modal"
                                     tabindex="-1" role="dialog" aria-labelledby="experience-modal-label"
                                     aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="experience-modal-label">Modifier expérience
                                                    professionelle</h5>
                                                <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                    <div class="form-group">
                                                        {{ form_label(experience.title) }}
                                                        {{ form_widget(experience.title, {'attr': {'class': 'form-control'}}) }}
                                                    </div>
                                                    <div class="form-group">
                                                        {{ form_label(experience.entreprise) }}
                                                        {{ form_widget(experience.entreprise, {'attr': {'class': 'form-control'}}) }}
                                                    </div>
                                                    <div class="form-group">
                                                        {{ form_label(experience.place) }}
                                                        {{ form_widget(experience.place, {'attr': {'class': 'form-control'}}) }}
                                                    </div>
                                                    <div class="form-row">
                                                        <div class="col-md-6 mb-3">
                                                            {{ form_label(experience.startYear) }}
                                                            {{ form_widget(experience.startYear, {'attr': {'class': 'form-control'}}) }}
                                                        </div>
                                                        <div class="col-md-6 mb-3">
                                                            {{ form_label(experience.endYear) }}
                                                            {{ form_widget(experience.endYear, {'attr': {'class': 'form-control'}}) }}
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        {{ form_label(experience.description) }}
                                                        {{ form_widget(experience.description, {'attr': {'class': 'form-control'}}) }}
                                                    </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="submit" class="btn btn-primary">
                                                    Enregistrer
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <hr>
                    </div>
                    <div class="modal fade" id="experience-add-modal"
                         tabindex="-1" role="dialog" aria-labelledby="experience-modal-label"
                         aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="experience-modal-label">Ajouter expérience professionelle</h5>
                                    <button type="button" class="close" data-dismiss="modal"
                                            aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    {% set professionalExperiencePrototype = form.professionalExperiences.vars.prototype %}

                                        <div class="form-group">
                                            {{ form_label(professionalExperiencePrototype.title) }}
                                            {{ form_widget(professionalExperiencePrototype.title, {'attr': {'class': 'form-control'}}) }}
                                        </div>
                                        <div class="form-group">
                                            {{ form_label(professionalExperiencePrototype.entreprise) }}
                                            {{ form_widget(professionalExperiencePrototype.entreprise, {'attr': {'class': 'form-control'}}) }}
                                        </div>
                                        <div class="form-group">
                                            {{ form_label(professionalExperiencePrototype.place) }}
                                            {{ form_widget(professionalExperiencePrototype.place, {'attr': {'class': 'form-control'}}) }}
                                        </div>
                                        <div class="form-row">
                                            <div class="col-md-6 mb-3">
                                                {{ form_label(professionalExperiencePrototype.startYear) }}
                                                {{ form_widget(professionalExperiencePrototype.startYear, {'attr': {'class': 'form-control'}}) }}
                                            </div>
                                            <div class="col-md-6 mb-3">
                                                {{ form_label(professionalExperiencePrototype.endYear) }}
                                                {{ form_widget(professionalExperiencePrototype.endYear, {'attr': {'class': 'form-control'}}) }}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            {{ form_label(professionalExperiencePrototype.description) }}
                                            {{ form_widget(professionalExperiencePrototype.description, {'attr': {'class': 'form-control'}}) }}
                                        </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-primary">
                                        Enregistrer
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="card mb-4 user-interests-container">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-lg-11">
                                <span class="h-5 font-weight-bold">Centres d'intérêt</span>
                            </div>
                            <div class="col-lg-1">
                                <button type="button" name="button" class="btn" style="background-color: #ffc33d54" data-toggle="modal" data-target="#interest-add-modal">
                                    <i class="fas fa-plus"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="container">
                            {% for interest in form.interests %}
                                {% if interest.vars.checked == true %}
                                    <span class="badge badge-pill orange" style="background-color: #E0A800">{{ interest.vars.label }}</span>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <hr>
                    </div>
                    <div class="modal fade" id="interest-add-modal" tabindex="-1" role="dialog" aria-labelledby="cntreInModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="cntreInModalLabel">Centres d'intérêt</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body mod-interrest">
                                        {% for interest in form.interests %}
                                            <div class="form-check">
                                                {{ form_widget(interest, {'attr': {'class': 'form-check-input'}}) }}
                                                {{ form_label(interest) }}
                                            </div>
                                        {% endfor %}
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-primary">Enregistrer</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-1"></div>
    </div>
</div>
{#{{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit' } }) }}#}
    {#{{ form_widget(form) }}#}
    {#<ul class="tags" data-prototype="{{ form_widget(form.diplomas.vars.prototype)|e('html_attr') }}">#}
    {#</ul>#}
    {#<div>#}
        {#<input type="submit" value="{{ 'profile.edit.submit'|trans }}" />#}
    {#</div>#}
{#{{ form_end(form) }}#}
