{% extends "@App/base.html.twig" %}

{% block title %}
    <title>Mon compte</title>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit' } }) }}
    {% include "@App/account/header.html.twig" %}
    {% for message in app.flashes('success') %}
        <div class="center-msg">
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <strong>
                    {{ message }}
                </strong>
            </div>
        </div>
    {% endfor %}

    {% if not form.vars.valid %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <strong>
                <ul>
                    <li>
                        {% if form.vars.errors.current() %}
                            {{ form.vars.errors.current().message }}
                        {% endif %}
                    </li>
                </ul>
            </strong>
        </div>
    {% endif %}
    {% include "@FOSUser/Profile/edit_content.html.twig" %}

    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        $(function () {

            var $city = $('#fos_user_profile_form_city');

            $city.change(function() {
                var $form = $(this).closest('form');
                var data = {};
                data[$city.attr('name')] = $city.val();

                $.ajax({
                    url : $form.attr('action'),
                    type: $form.attr('method'),
                    data : data,
                    success: function(html) {

                        $('#fos_user_profile_form_delegation').replaceWith(
                            $(html).find('#fos_user_profile_form_delegation')
                        );
                    }
                });
            });

            //Prepare user diploma prototype
            var lastDiplomaId = $('.user-education-container .card-body .container >.row').last().attr('data-diploma-id');

            $('.user-education-container >.modal label').each(function () {
                $(this).attr('for', $(this).attr('for').replace('__name__', parseInt(lastDiplomaId)+1));
            });

            $('.user-education-container >.modal input').each(function () {
                $(this).attr('name', $(this).attr('name').replace('__name__', parseInt(lastDiplomaId)+1));
                $(this).attr('id', $(this).attr('id').replace('__name__', parseInt(lastDiplomaId)+1));
            });

            //Prepare user diploma prototype
            var lastProfessionalExperienceid = $('.user-professional-experiences-container .card-body .container >.row').last().attr('data-diploma-id');

            $('.user-professional-experiences-container >.modal label').each(function () {
                $(this).attr('for', $(this).attr('for').replace('__name__', parseInt(lastProfessionalExperienceid)+1));
            });

            $('.user-professional-experiences-container >.modal input').each(function () {
                $(this).attr('name', $(this).attr('name').replace('__name__', parseInt(lastProfessionalExperienceid)+1));
                $(this).attr('id', $(this).attr('id').replace('__name__', parseInt(lastProfessionalExperienceid)+1));
            });

            //Image upload
            $('.browse').on('click', function () {
                var file = $('.vich-file > input');
                file.trigger('click');
            })

            $('.file').on('change', function () {
                var fileNameInput = $('.browse');
                fileNameInput.val(this.files[0].name);
            })


        })
    </script>
{% endblock %}
