<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    {% block title %}
        <title>RDV Homepage</title>
    {% endblock %}

    {% block stylesheets %}

        <link href="http://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">
        {% stylesheets '@AppBundle/Resources/public/src/style/rdv-style.css' filter='cssrewrite' output='assets/style/main.css' %}
        <link rel="stylesheet" href="{{ asset_url }}"/>
		<link rel="stylesheet" href="{{ asset('assets/style/autocomplete.css') }}" />
        {% endstylesheets %}

    {% endblock %}

</head>

<body>
<!-- Navigation -->

<nav class="navbar navbar-expand navbar-dark bg-light fixed-top">
    <a class="navbar-brand" href="#">

        {#<img src="./images/khoud.png" width="160px" alt="">#}
        {% image '@AppBundle/Resources/public/src/images/khoud.png' output='assets/images/khoud.png' %}
        <img src="{{ asset_url }}" alt="" width="160px"/>
        {% endimage %}
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample02" aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse " id="navbarsExample02">
        <ul class="navbar-nav ml-auto nav-rdv-centered">
            {% if is_granted('ROLE_USER') %}
                <li class="nav-item nav-item-rdv mr-5 active">
                    <div class="dropdown">
                        <a class="nav-link" href="#" id="dropdownprofrdv" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                            {#If profile image set show it else show dummy data image#}
                            {% if app.user.imageName is not null %}
                                <img src="{{ asset('uploads/images/profile/'~app.user.imageName) }}"
                                     class="rounded-circle" alt="..." width="30" height="30">
                            {% else %}
                                <img src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22200%22%20height%3D%22200%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20200%20200%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_1659a6d3977%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A10pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_1659a6d3977%22%3E%3Crect%20width%3D%22200%22%20height%3D%22200%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2274.4296875%22%20y%3D%22104.5%22%3E200x200%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E"
                                     class="rounded-circle" alt="..." width="30" height="30">
                            {% endif %}

                            <span>{{ app.user.firstName ~ ' ' ~ app.user.lastName }}</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right " aria-labelledby="dropdownprofrdv">
                            <div class="media dropdown-item">

                                <div class="media-body ">
                                    <h5 class="mt-0">{{ app.user.username }}</h5>
                                    <a href="{{ path('fos_user_profile_edit') }}">Voir le profil</a>
                                </div>
                            </div>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{{ path('fos_user_security_logout') }}"><i class="fas fa-sign-out-alt"></i>&nbspDéconnexion</a>
                        </div>
                    </div>
                </li>

                <li class="nav-item nav-item-rdv mx-3" data-toggle="tooltip" data-placement="bottom" title="Vous solde est {{ app.user.balance }} dinar(s)">
                    <a class="nav-link" href="#">
                        <i class="far fa-credit-card fa-fw notification-rdv"></i>
                        <span class="badge badge-danger badge-not-rdv" >{{ app.user.balance }}<sup>DTN</sup></span>
                    </a>
                </li>

                <li class="nav-item nav-item-rdv mx-3" data-toggle="tooltip" data-placement="bottom" title="Vous avez X RDV à commander">
                    <a class="nav-link" href="#" >
                        <i class="fas fa-cart-plus fa-fw notification-rdv"></i>
                        <span class="badge badge-danger badge-not-rdv" >X</span>
                    </a>
                </li>

            {% else %}
                <li class="nav-item nav-item-rdv active">
                    <a class="nav-link" data-toggle="modal" data-target="#inscritModal" href="#"><i class="fas fa-user-plus"></i>&nbspS'inscrire <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item nav-item-rdv mr-5">
                    <a class="nav-link" data-toggle="modal" data-target="#connectModal" href="#"><i class="fas fa-sign-in-alt"></i>&nbspSe connecter</a>
                </li>
            {% endif %}
            <li class="nav-item nav-item-rdv">
                <a class="btn btn-warning" href="{{ path('new_ad') }}">J'organise un RDV</a>
            </li>
        </ul>
    </div>
</nav>

<nav class="navbar navbar-expand-md navbar-dark bg-dark mt-5">
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav ml-auto pr-lg-5 nav-rdv-centered">
            <li class="nav-item active">
                <a class="nav-link h5" href="#">Comment ça marche<span class="sr-only">(current)</span></a>
            </li>
        </ul>
      {# <form class="form-inline mt-2 mt-md-0">
            <input id="search-header" class="form-control mr-sm-2" type="text" placeholder="Chercher" aria-label="Search">
            <button class="btn btn-outline-warning my-2 my-sm-0" type="submit">Chercher</button>
        </form> #}
        {{render(controller('AppBundle:Search:searchBar'))}}
    </div>
</nav>

<!-- Modal inscrit -->
<div class="modal fade" id="inscritModal" tabindex="-1" role="dialog" aria-labelledby="inscritModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="inscritModalLabel">Inscrivez Vous</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {{ render(controller('FOSUserBundle:Registration:register')) }}
        </div>
    </div>
</div>
<!-- Modal after inscrit -->
<div class="modal fade" id="afterInscritModal" tabindex="-1" role="dialog" aria-labelledby="inscritModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="afterinscritModalLabel">Inscrivez Vous</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
			<div class="modal-body">
			</div>
        </div>
    </div>
</div>
<!-- Modal connect -->
<div class="modal fade" id="connectModal" tabindex="-1" role="dialog" aria-labelledby="connectModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="connectModalLabel">Connectez vous</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {{ render(controller('FOSUserBundle:Security:login')) }}
        </div>
    </div>
</div>
{% block body %}
{% endblock %}

<!-- Footer -->
<footer class="py-5 bg-dark">
    <div class="container">
        <div class="row text-white">
            <div class="col-lg-4">
                <p>Questions ? &nbsp<span class="font-weight-bold" style="font-size: 18px"><i
                                class="fas fa-phone-volume" style="color: #34ce57"></i>&nbsp58779417</span></p>
                <p><a href="">Comment ça marche</a></p>
            </div>
            <div class="col-lg-4">
                <p><a href="">Conditions d'utilisation</a></p>
                <p><a href="">Nous contacter</a></p>
            </div>
            <div class="col-lg-4">
                <p><a href="">Recevez nos bons-plans</a></p>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="votre mail" aria-label="Search">
                    <button class="btn btn-outline-warning my-2 my-sm-0" type="submit">Ok</button>
                </form>
                <div class="my-2">
                    <span>Suivez-nous sur:</span>
                    <a href="">
                        <img
                                src="http://213.136.84.250/espace-travail/espace-essia-test/site00_yallaroule/web/assets/images/facebook.png"
                                alt="">
                    </a>&nbsp
                    <a href="">
                        <img src="http://213.136.84.250/espace-travail/espace-essia-test/site00_yallaroule/web/assets/images/youtube.png"
                             alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container -->
</footer>

{% block javascripts %}
    <!-- Jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<!--Autocomplete-->
	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <!-- Bootstrap core JavaScript -->
    {% javascripts '@AppBundle/Resources/public/src/scripts/base/*' output='assets/scripts/base.js' %}

    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script>
        $(function () {
            //Submit register form via ajax
            $('#inscritModal').on('click', '#modalbtn', function (e) {
                e.preventDefault();
                var form = $('#fos_user_registration_register');
                var formAction = form.attr("action");
                $.post(formAction, form.serialize(), function(data, status, xhr)
                {
                    console.log(data);
					if(data.toString().trim().startsWith('<p>L')){
					$('#inscritModal').modal('hide');
					$('#afterInscritModal').modal('show');
                    $('#afterInscritModal .modal-body').html(data);
					$('#afterInscritModal .modal-header').html('<h5 class="modal-title" id="inscritModalLabel">Activez votre compte</h5> <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>');
                    $('#afterInscritModal .modal-footer').html('<a class="btn btn-warning" data-toggle="modal" data-target="#connectModal" href="#">Se connecter</a>');

				 }
				 else{
				   $('#inscritModal .modal-footer').html('');
				   $('#inscritModal .modal-body').html(data);
				 }
				});


            });

            //Show login_modal if login requested
            if(window.location.href.indexOf('#login') != -1)
                $('#connectModal').modal('show');
        })
    </script>
	<!-- Autocomplete -->
    <script>
       $( ".search-header" ).autocomplete({
      source: "{{path('getTags')}}",
      minLength: 2,
      select: function( event, ui ) {
	    var id_rdv = ui.item.id;
		  var url = '{{ path("ad_details", {"id":"id_rdv" }) }}';
        url = url.replace("id_rdv", ui.item.id);
        window.location.href = url;
      }
    });
  </script>
{% endblock %}

</body>

</html>
