<div class="container mt-1">
    <div class="row mb-2">
        <div class="col-lg-3">
            {% if app.user.imageName is not null %}
                <img src="{{ asset('uploads/images/profile/'~app.user.imageName) }}"
                     class="profile-image img-thumbnail" alt="...">
            {% else %}
                <img src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22200%22%20height%3D%22200%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20200%20200%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_1659a6d3977%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A10pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_1659a6d3977%22%3E%3Crect%20width%3D%22200%22%20height%3D%22200%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2274.4296875%22%20y%3D%22104.5%22%3E200x200%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E"
                     class="profile-image img-thumbnail" alt="...">
            {% endif %}

            {% if app.request.attributes.get('_route') == 'fos_user_profile_edit' %}
                <div class="form-group image-upload-container mt-3">
                    {{ form_widget(form.imageFile) }}
                    <div class="input-group col-12 pl-0">
                        <input type="text" class="form-control input-lg browse" placeholder="Choisir image (jpg, png, bmp)">
                        <span class="input-group-btn">
                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                        <button class=" btn upload-btn"
                                type="submit"><i class="fas fa-upload" aria-hidden="true"></i></button>
                    </div>
                </span>
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="col-lg-9 border rounded">
            <p class="h4 mt-2">{{ app.user.firstName ~ ' ' ~ app.user.lastName }}</p>
            <div class="row mt-3">
                <div class="col-lg-6">
                    <p class="h6">inscrit le&nbsp<span>{{ app.user.createdAt|date('d/m/Y') }}&nbsp
                        <span>à&nbsp</span>{{ app.user.createdAt|date('h') ~ 'h' ~ app.user.createdAt|date('i') }}</span>
                    </p>
                    <p class="h6">Votre ID&nbsp<span>{{ app.user.id }}</span></p>
                    <p class="h6">Profil complet
                        à&nbsp<span>{{ app.user.profileCompletionPercent }}</span><span>%</span></p>
                </div>
                <div class="col-lg-6">
                    <p class="h6">Votre solde actuel est de&nbsp<span class="font-weight-bold">{{ app.user.balance }}&nbsp<sup>DTN</sup></span></p>
                    <p class="h6">Vous avez organisé&nbsp<span>{{ app.user.rdvs.count }}&nbsp</span>
                        <span>{{ (app.user.rdvs.count > 1) ? 'RDVS' : 'RDV' }}</span></p>
                    <p class="h6">Vous avez participé à&nbsp<span>X&nbsp</span><span>RDV</span></p>
                </div>
            </div>
        </div>
    </div>
</div>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-2">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="#">Mon profil <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Mes annonces RDV </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Commandes sur RDV</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Mes participations aux RDV</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Mes révenus</a>
                </li>
            </ul>
        </div>
    </div>
</nav>