
<p>L'utilisateur a été créé avec succès.</p>
<p>Un e-mail a été envoyé à l'adresse saber.said.engsksdxolsmineer@gmail.com.</p> 
<p>Il contient un lien d'activation sur lequel il vous faudra cliquer afin d'activer votre compte.</p>
<div class="modal-footer">
</div>

