 <div class="modal-body">
                {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'),
                    'attr': {'class': 'fos_user_registration_register form-register', 'id': 'fos_user_registration_register'}}) }}
                    <div class="form-group">
                        <label for="rdvInputpseudo">Pseudo&nbsp<span class="oblig-put">*</span></label>
                        {{ form_widget(form.username, {'attr': {'id': 'rdvInputpseudo', 'class': 'form-control', 'placeholder': 'Entrer un pseudo', 'aria-describedby': 'pseudoHelp'}}) }}
                        <small id="pseudoHelp" class="form-text text-muted"></small>
                        <div class="error">
                            {{ form_errors(form.username) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="rdvInputEmail">Adresse email&nbsp<span class="oblig-put">*</span></label>
                        {{ form_widget(form.email, {'attr': {'id': 'rdvInputEmail', 'class': 'form-control', 'placeholder': 'Entrer un email', 'aria-describedby': 'emailHelp'}}) }}
                        <small id="emailHelp" class="form-text text-muted">"flen@exemple.com"</small>
                        <div class="error">
                            {{ form_errors(form.email) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="rdvInputcartid">Numéro carte d'identité&nbsp<i id="info-cartid"
                                                                                   class="fas fa-info-circle"></i>&nbsp<span
                                    class="oblig-put">*</span></label>
                        <div class="arr-cartinf">
                            <div class="arrow-up"></div>
                            <div class="cartid-info">
                                <small class="form-text">Votre numéro de carte cin servira à vérifier votre identité le jour
                                    de rendez-vous
                                </small>
                            </div>
                        </div>
                        {{ form_widget(form.cin, {'attr': {'id': 'rdvInputcartid', 'class': 'form-control', 'placeholder': 'Entrer num carte identité', 'aria-describedby': 'numcartidHelp'}}) }}
                        <small id="numcartidHelp" class="form-text text-muted"></small>
                        <div class="error">
                            {{ form_errors(form.cin) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="rdvInputPassword">Saisir votre mot de passe&nbsp<span
                                    class="oblig-put">*</span></label>
                        {{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control', 'placeholder': 'mot de passe'}}) }}
                        <small id="passwrdHelp" class="form-text text-muted"></small>
                        <div class="error">
                            {{ form_errors(form.plainPassword.first) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="rdvInputPasswordconf">Confirmer le mot de passe&nbsp<span class="oblig-put">*</span></label>
                        {{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control', 'placeholder': 'confirmer mot de passe'}}) }}
                        <small id="passwrd1Help" class="form-text text-muted"></small>
                        <div class="error">
                            {{ form_errors(form.plainPassword.first) }}
                        </div>
                    </div>
                    <hr>
                    <div class="form-group">
                        <small class="form-text"><span class="oblig-put">*&nbsp</span>:&nbspChamps obligatoire</small>
                    </div>
                    <div class="form-check">
                        {{ form_widget(form.terms) }}
                        <label class="form-check-label" for="fos_user_registration_form_terms">j'accepte <a href="">les conditions d'utilisation</a></label>
                        <div class="error">
                            {{ form_errors(form.terms) }}
                        </div>
                    </div>
                    {{ form_rest(form) }}
            </div>
 <div class="modal-footer">
     <button id="modalbtn" type="submit" class="btn btn-warning">Je m'inscris</button>
     {{ form_end(form) }}
 </div>