{% extends 'AppBundle::base.html.twig' %}
{% block title %}
    <title>Profil Consultant</title>
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <style>
        .valid-put {
            -webkit-box-shadow: 0px 0px 7px 1px rgba(0, 255, 0, 1);
            -moz-box-shadow: 0px 0px 7px 1px rgba(0, 255, 0, 1);
            box-shadow: 0px 0px 7px 1px rgba(0, 255, 0, 1);
        }

        .invalid-put {
            -webkit-box-shadow: 0px 0px 7px 1px rgba(255, 0, 0, 1);
            -moz-box-shadow: 0px 0px 7px 1px rgba(255, 0, 0, 1);
            box-shadow: 0px 0px 7px 1px rgba(255, 0, 0, 1);
        }

        .oblig-put {
            color: red;
        }
        .arrow-up {
            margin-left: 177px;
            width: 0;
            height: 0;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-bottom: 5px solid #ffc107;
        }
        .arr-cartinf{
            display: none;
            margin-bottom: 4px;
        }
        .cartid-info {
            -webkit-box-shadow: 0px 0px 7px 1px rgba(255, 0, 0, 1);
            -moz-box-shadow: 0px 0px 7px 1px rgba(255, 0, 0, 1);
            box-shadow: 0px 0px 7px 1px rgba(255, 193, 7, 1);
        }
    </style>
{% endblock %}
{% block body %}
    <!-- /.container -->
    <div class="container">
        <i class="fas fa-arrow-alt-circle-left"></i>&nbsp<a class="text-dark" href="{{ path('index') }}">Retour</a>
    </div>

    <div class="bg-secondary text-white mt-2">
        <div class="media container">
            <img class="mr-3 my-2" src="{{ asset('uploads/images/profile/'~consultant.imageName) }}" width="120"
                 height="120" alt="Generic placeholder image">
            <div class="media-body mt-3">
                <h5 class="mt-0">{{ consultant.firstName }} {{ consultant.lastName }}</h5>
                <p>Dire quelque chose</p>
            </div>
        </div>
        <div class="col-lg-4"></div>
    </div>

    <div class="container">
        <div class=" justify-content-center my-2 w-75">
            <h5>A Propos De Moi</h5>
            <p>{{ consultant.biography }}</p>
            <hr>
        </div>
        <div class=" justify-content-center my-2 w-75">
            <h5>Mon Parcours Professionnel</h5>
            <p>-Situation actuelle: {{ consultant.proSituation }}</p>
            <p>-Niveau académique: {{ consultant.education }}</p>
            <hr>
        </div>
        <div class=" justify-content-center my-2 w-75">
            <h5>Expérience Pro</h5>
            {% for experience in consultant.professionalExperiences %}
                <i>{{ experience.startYear|date('Y') ~ '-' ~ experience.endYear|date('Y') }}</i>
                <p>{{ experience.title ~ ' ,' ~ experience.entreprise }}</p>
            {% endfor %}
            <hr>
        </div>
        <div class=" justify-content-center my-2 w-75">
            <h5>Mon Cursus Académique</h5>
            {% for diploma in consultant.diplomas %}
                <i>{{ diploma.startYear|date('Y') ~ '-' ~ diploma.endYear|date('Y') }}</i>
                <p>{{ diploma.diploma ~ ' ,' ~ diploma.studyField }}</p>
            {% endfor %}
        </div>

        <div class=" justify-content-center my-2 w-75">
            <h5>Mes Centres D’intérêt</h5>
            <div class="my-2">
                {% for interest in consultant.interests %}
                    <span class="badge badge-warning">{{ interest.name }}</span>
                {% endfor %}
            </div>
            <hr>
        </div>
        <div class=" justify-content-center my-2 w-75">
            <h5>Mes derniers RDV organisés</h5>
            <div class="cont-autre-rdv">
                <div class="row">
                    {% for rdv in consultant.rdvs %}
                        <div class="col-lg-4 col-md-6 mb-4">
                            <div class="card h-100">
                                <a href="#"><img class="card-img-top"
                                                 src="{{ asset('uploads/images/ad/'~rdv.imageName) }}" alt=""></a>
                                <div class="card-body">
                                    <h4 class="card-title">
                                        <a class="rdv-annoce-title" href="#">{{ rdv.title }}</a>
                                    </h4>
                                    <span><i class="fas fa-map-marker-alt"></i>&nbsp<span>{{ rdv.closestSession.place.city }}</span>&nbsp-&nbsp<span>{{ rdv.closestSession.place.city }}</span></span><br>
                                    <span><i class="far fa-clock"></i>&nbsp<span>{{ rdv.closestSession.dateSession|date('d/m/Y') }}</span>&nbspà&nbsp<span>{{ rdv.closestSession.startTime|date('H') ~ 'h' ~ rdv.closestSession.startTime|date('i') }}</span></span>

                                </div>
                                <div class="card-footer">
                                    <small class="text-muted">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </small>
                                    <div class="float-lg-right font-weight-bold">
                                        <span>{{ rdv.closestSession.price }}</span>
                                        <span>TND</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>

            </div>
            <hr>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {% javascripts '@AppBundle/Resources/public/src/scripts/consultant/profile.js' output='assets/scripts/consultant/profile.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}