{% trans_default_domain 'FOSUserBundle' %}

<form action="{{ path("fos_user_security_check") }}" method="post">

    {% if csrf_token %}
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    {% endif %}

    <div class="modal-body">
            <div class="form-group">
                <label for="connInputEmail1">Adresse mail</label>
                <input type="text" class="form-control"
                       id="connInputEmail1" aria-describedby="emailconnHelp"
                       placeholder="Entrer votre adresse mail"
                       name="_username_email" required="required"
                       autocomplete="username">
                <small id="emailconnHelp" class="form-text text-muted"></small>
            </div>

            <div class="form-group">
                <label for="connInputPassword1">Mot de passe</label>
                <input type="password" class="form-control"
                       id="connInputPassword1" placeholder="Mot de passe"
                       name="_password" required="required"
                       autocomplete="current-password">
            </div>

            <div class="form-group">
                <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                <label for="remember_me">Se souvenir de moi</label>
            </div>
            <div class="form-group">
                <a href="{{ path('fos_user_change_password') }}" class="text-dark">Mot de passe oublié</a>
            </div>

            <div class="error">
                <ul>
                    {% if error %}
                        <li>{{ error.messageKey|trans(error.messageData, 'security') }}</li>
                    {% endif %}
                </ul>

            </div>
    </div>
    <div class="modal-footer">
        <button type="submit" id="_submit" name="_submit" class="btn btn-warning">Connexion</button>
    </div>
</form>