/*!
 * Start Bootstrap - Shop Homepage (https://startbootstrap.com/template-overviews/shop-homepage)
 * Copyright 2013-2017 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-shop-homepage/blob/master/LICENSE)
 */

body {
  padding-top: 56px;
}
.nav-item-rdv .nav-link{
  color: #212529 !important;
}

li {
  list-style: none;
}


.rdv-item-list:hover {
  cursor: pointer;
  font-weight: 600 !important;
}

.list-group a {
  color: #212529;
}

.list-group a:hover {
  color: #212529;
}

.active-rdv {
  background-color: #F5F5F2 !important;
  font-weight: 600;
}
.error ul {
  font-family: 'Roboto', sans-serif;
  color: #ff4a64;
  font-size: 12px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.card-img-top{
  height: 10em !important;
}
.nav-rdv-centered a.nav-link:hover{
  color: #ffd900 !important;
}
/*titre des annoce*/
.rdv-annoce-title, i{
  color: #3D348B;
}
.rdv-annoce-title:hover{
  text-decoration: none;
  color: #3D348B;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}
@media (max-width: 1024px) {
  .brdcrumb {
    display: none;
  }
}
.profile-link:hover {
  text-decoration-line: none;
  border-bottom: solid 2px #ffc107;
}

.profile-link {
  color: #000000;
}
.fa-star.checked {
  color: orange;
}
.fa-star{
  font-size: 10px;

}
footer a{
  color: white;
}
.cont-autre-rdv {
  margin: 0px 50px !important;
}

.mod-interrest{
  height: 10em;
  overflow: scroll;
}

.profile-image {
  width: 12vw;
  height: 12vw;
  object-fit: cover;
}

.input-lg {
  font-size: 13px;
  font-family: 'Roboto', sans-serif;
  background-color: #f7fbff;
  border: 1px dashed #9a9898;
  border-radius: 5px;
}

.vich-file > input {
  visibility: hidden;
  position: absolute;
}

.notification-rdv{
  width: 1.25em;
  font-size: 1.5em;
  color: #343a40;
}
span.badge-not-rdv{
  position: absolute !important;
  margin-left: 1.2rem !important;
  top: 1rem !important;
  font-size: 65% !important;
  font-weight: 700 !important;
}
