{{ form_start(form, {'attr': {'class': 'form-inline mt-2 mt-md-0','action':path('search_handle')}}) }}
{{ form_widget(form.search, {'attr': {'class': 'form-control mr-sm-2 ui-autocomplete-input search-header'}}) }}
{{ form_widget(form.send, {'attr': {'class': 'btn btn-outline-warning my-2 my-sm-0'}}) }}
{{ form_end(form) }}
