{% extends 'AppBundle::base.html.twig' %}
{% block title %}
    <title>Accueil</title>
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <style>
        .page-item.active .page-link{
            background-color: #ffc107;
            border-color: #ffc107;
        }
        .page-link:hover{
            background-color: #eeefe9;
            color: #ffc107;
        }
    </style>
{% endblock %}
{% block body %}
    <!-- Page Content -->
    <div class="container mt-5">
        <div class="row">

            <div class="col-lg-3">

                <h5 class="my-4">Catégories des RDV</h5>
                <ul class="list-group list-group-flush">
                    {% for category in categories %}
                        <li>
                            <div id="rdv-{{ loop.index }}" class="row p-3 rdv-item-list">
                                <div class="col-10"><i class="fas fa-laptop"></i>&nbsp<span>{{ category.name }}</span></div>
                                <div class="col-2"><i class="fas fa-angle-down"></i></div>
                            </div>
                            <ul id="item-rdv-{{ loop.index }}">
                            {% for subCategory in category.subCategories %}
                                <li class="rdv-item">
                                    <a href="{{path('index',{'subcateg': subCategory.id})}}">{{ subCategory.name }}</a>
                                </li>
                            {% endfor %}
                            </ul>
                        </li>
                    {% endfor %}
                </ul>

            </div>
            <!-- /.col-lg-3 -->

            <div class="col-lg-9">
                <div class="row mb-3">
                    <div class="col-lg-12">
                        {% if rdvs|length > 0 %}
                            <div class="row">
                            <div class="col-lg-6">
                                <label style="font-size: larger">Participez à un RDV près de chez vous:</label>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <select class="form-control" id="city-select">
                                            <option value="allCity" selected>Toute la Tunisie</option>
                                             {% for City in citys %}
											 <option value="{{ City.id }}">{{ City.name }}</option>
											  {% endfor %}
                                        </select>
                                    </div>
                                    <div class="col-lg-6">
                                        <select class="form-control" id="delegation-select">

                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3"></div>
                            <div class="col-lg-3">
                                <label style="font-size: larger">Trier par:</label>
                                <select class="form-control" id="order-select">
                                    <option value="pr">Le plus récent</option>
									<option value="mc">Le moin cher</option>
									<option value="pv">Le plus recommandé</option>
                                </select>
                            </div>
                        </div>
                        {% endif %}

                    </div>
                </div>

                <div class="row" id="rdv-list">
                    {% for rdv in rdvs %}

                    <div class="col-lg-4 col-md-6 mb-4">
                        <div class="card h-100">
                            <a href="{{ path('ad_details', {'id': rdv.id}) }}">
                                {#{% image '@AppBundle/Resources/public/src/images/139.jpeg' output='assets/images/139.jpeg' %}#}
                                {#<img class="card-img-top mh-100" src="{{ asset_url }}" alt=""/>#}
                                {#{% endimage %}#}
                                <img class="card-img-top mh-100" src="https://www.jechercheunrdv.fr/Portail/img/animation-particulier/slide-particulier-01.png" alt=""/>
                            </a>
                            <div class="card-body">
                                <h4 class="card-title">
                                    <a class="rdv-annoce-title" href="{{ path('ad_details', {'id': rdv.id}) }}">{{ rdv.title }}</a>
                                </h4>
								{# {% for session in rdv.sessions %}#}
                                <span><i class="fas fa-map-marker-alt"></i>&nbsp{{ rdv.sessions|first.place.city.name }}</span><br>
								{# {% endfor %}#}
                               <span><i class="far fa-clock"></i>&nbsp{{ rdv.sessions|first.startTime|date('h:m') }}h</span><br>
							   {#<span><i class="far fa-clock"></i>&nbsp{{ rdv.createdAt|date('Y-m-d') }}</span><br>#}


                            </div>
                            <div class="card-footer">
                                <small class="text-muted">
								{% for i in 1..rdv.note %}
                                    <i class="fas fa-star"></i>
								{% endfor %}

                                </small>
                                <div class="float-lg-right font-weight-bold">
                                    <span>{{ rdv.price }}</span>
                                    <span>TND</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% else %}
                        <h5 class="mx-auto text-danger">Aucun Rdv publié</h5>
                    {% endfor %}

                </div>
                <div class="col-lg-4 offset-4">
                    {{ knp_pagination_render(rdvs) }}
                </div>
                <!-- /.row -->

            </div>
            <!-- /.col-lg-9 -->

        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {% javascripts '@AppBundle/Resources/public/src/scripts/ad/index.js' output='assets/scripts/ad/index.js' %}
    <script src="{{ asset_url }}"></script>
	<!-- /.filter de recherche -->
	<script>
	$('#city-select').on('change', function() {
	  var cityId = this.value;
    $.when($.ajax({
       url : '{{ path('search_handle')}}',
       type : 'POST', // Le type de la requête HTTP, ici POST
       data : 'city=' + cityId, // On fait passer nos variables, exactement comme en GET, au script more_com.php
       dataType : 'html',
	          success : function(code_html, statut){
           $("#rdv-list").html(code_html); // On passe code_html à jQuery() qui va nous créer l'arbre DOM !
       },
    }),
	 $.ajax({
       url : '{{ path('delegation')}}',
       type : 'POST', // Le type de la requête HTTP, ici POST
       data : 'city=' + cityId, // On fait passer nos variables, exactement comme en GET, au script more_com.php
       dataType : 'json',
	          success : function(json_data, statut){
			  var	select = '<option selected value="allDelegation">Toutes les villes</option>';
	$.each( json_data, function( key, value ) {
	  	//select = select + '';
	  	select = select + '<option value="'+value.id+'">'+value.value+'</option>';

	});
           $("#delegation-select").html(select); // On passe code_html à jQuery() qui va nous créer l'arbre DOM !
       },

    }))


});

$('#delegation-select').on('change', function() {
	  var delegationId = this.value;
      //alert( delegationId );
    $.ajax({
       url : '{{ path('search_handle')}}',
       type : 'POST', // Le type de la requête HTTP, ici POST
       data : 'delegation=' + delegationId, // On fait passer nos variables, exactement comme en GET, au script more_com.php
       dataType : 'html',
	          success : function(code_html, statut){
           $("#rdv-list").html(code_html); // On passe code_html à jQuery() qui va nous créer l'arbre DOM !
       },


    });

});

$('#order-select').on('change', function() {
	  var order = this.value;
      //alert( order );
    $.ajax({
       url : '{{ path('search_handle')}}',
       type : 'POST', // Le type de la requête HTTP, ici POST
       data : 'order=' + order, // On fait passer nos variables, exactement comme en GET, au script more_com.php
       dataType : 'html',
	          success : function(code_html, statut){
           $("#rdv-list").html(code_html); // On passe code_html à jQuery() qui va nous créer l'arbre DOM !
       },


    });

});

	</script>
    {% endjavascripts %}
{% endblock %}
